    <footer class="footer p-10 bg-base-100 border-t border-base-content/10 text-base-content flex flex-col md:flex-row justify-between items-center">
        <aside class="items-center grid-flow-col">
            <p class="font-bold uppercase tracking-widest">© {{ "now" | date: "%Y" }} {{ site.title }}</p>
        </aside> 
        <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end text-xs uppercase tracking-widest opacity-60">
            <a href="https://instagram.com/DapoerEla85" target="_blank">Instagram</a>
            <a target="_blank" href="https://wa.me/c/6285172211985">Katalog</a>
            <button class="btn btn-xs" id="install-button">Install App</button>
        </nav>
    </footer>
