        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12 pb-20">
           {% for post in paginator.posts %}
{% if post.in_stock == true %}
<div class="product-card group cursor-pointer">
    <div class="relative aspect-square bg-base-200 overflow-hidden mb-4 border border-base-content/5 group-hover:border-base-content transition-all duration-500">
        <a href="{{ post.url }}">
            <img src="{{ post.img }}" alt="{{ post.title }}" class="object-cover w-full h-full transition-transform duration-700 group-hover:scale-110" />
        </a>
        
        <div class="absolute bottom-4 left-4 flex gap-2">
            {% for category in post.categories %}
            <a href="{{ site.baseurl }}/category/{{ category | slugify }}">
                <span class="bg-base-100 text-[10px] font-bold px-2 py-1 uppercase border border-base-content shadow-sm hover:bg-base-content hover:text-base-100 transition-colors">
                    {{ category }}
                </span>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="flex justify-between items-start px-1">
        <div>
            <a href="{{ post.url }}">
                <h3 class="text-lg font-bold uppercase tracking-tight leading-none mb-1">{{ post.title }}</h3>
            </a>
            <p class="text-[10px] uppercase tracking-widest opacity-50">{{ post.weight }}</p>
        </div>
        <p class="font-mono text-lg font-bold">IDR {{ post.price }}</p>
    </div>
  </div>
  {% else %}
<div class="product-card group opacity-60">
    <div class="relative aspect-square grayscale bg-base-200 overflow-hidden mb-4 border border-base-content/5 group-hover:border-base-content transition-all duration-500">
            <img src="{{ post.img }}" alt="{{ post.title }}" class="object-cover w-full h-full transition-transform duration-700 group-hover:scale-110" />
              <div class="absolute inset-0 flex items-center justify-center">
                  <span class="bg-black/60 text-white -[10px] px-2 py-1 font-bold">OUT OF STOCK</span>
              </div>text
        <div class="absolute bottom-4 left-4 flex gap-2">
            {% for category in post.categories %}
                <span class="bg-base-100 text-[10px] font-bold px-2 py-1 uppercase border border-base-content shadow-sm hover:bg-base-content hover:text-base-100 transition-colors">
                    {{ category }}
                </span>
            {% endfor %}
        </div>
    </div>
    <div class="flex justify-between items-start px-1">
        <div>
            <h3 class="text-lg font-bold uppercase tracking-tight leading-none mb-1">{{ post.title }}</h3>
            <p class="text-[10px] uppercase tracking-widest opacity-50">{{ post.weight }}</p>
        </div>
        <p class="font-mono text-lg font-bold">IDR {{ post.price }}</p>
    </div>
  </div>
  {% endif %}
{% endfor %}
</div>
