---
layout: default
title: Products
---
    <header class="bg-base-100 pt-3 pb-4 border-b border-base-content/5 px-4 md:px-12 sticky top-[64px] z-40">
        <h1 class="text-3xl font-black uppercase tracking-tighter mb-2">{{ page.title }}</h1>
    </header>
        <nav class="text-xs uppercase tracking-widest mb-12 mt-3 opacity-50">
            <a href="{{ site.url }}" class="hover:opacity-100 transition">Beranda</a> / 
            <span>{{ page.title }}</span>
        </nav>
{% include posts.html %} 
{% include pagination.html %} 
