---
layout: default
---
        <nav class="text-xs uppercase tracking-widest mb-12 opacity-50">
            <a href="{{ site.url }}" class="hover:opacity-100 transition">Beranda</a> / 
             <a href="/products/" class="hover:opacity-100 transition">Products</a> / 
            <span>{{ page.title }}</span>
        </nav>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-16 items-start">
            <div class="space-y-4">
                <div class="aspect-square bg-base-200 border border-base-content/5 overflow-hidden">
                    <img src="{{ page.img }}" 
                         alt="{{ page.title }}" class="product-image object-cover w-full h-full" />
                </div>
                <div class="grid grid-cols-4 gap-4 hidden">
                    <div class="aspect-square bg-base-200 border border-base-content/10"></div>
                    <div class="aspect-square bg-base-200 border border-base-content/10"></div>
                    <div class="aspect-square bg-base-200 border border-base-content/10"></div>
                    <div class="aspect-square bg-base-200 border border-base-content/10"></div>
                </div>
            </div>

            <div class="flex flex-col h-full">
                <header class="border-b border-base-content pb-6">
                    <h1 class="text-4xl md:text-6xl font-black uppercase tracking-tighter mb-2">{{ page.title }}</h1>
                    <p class="text-2xl font-mono">IDR {{ page.price }}</p>
                </header>

                <div class="py-8 space-y-6">
                    <p class="leading-relaxed opacity-70">
                        {{ content }}
                    </p>
                </div>

                <div class="mt-auto pt-8 border-t border-base-content/10">

<ul class="divide-y divide-gray-200 border border-gray-200 rounded-lg mb-3 overflow-hidden">
  <li class="p-4">
    <span class="font-bold block mb-1">Varian:</span>
    {% if page.varian %}
      <span class="text-gray-700">
        {% for varian in page.varian %}
          {{ varian.name }}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </span>
    {% else %}
      <span class="text-gray-400 italic">Tidak ada</span>
    {% endif %}
  </li>

  <li class="p-4">
    <span class="font-bold block mb-1">Rasa:</span>
    {% if page.rasa %}
      <span class="text-gray-700">
        {% for rasa in page.rasa %}
          {{ rasa.name }}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </span>
    {% else %}
      <span class="text-gray-400 italic">Tidak ada</span>
    {% endif %}
  </li>

  <li class="p-4">
    <span class="font-bold block mb-1">Berat/Isi:</span>
    {% if page.weight %}
      <span class="text-gray-700">
        {{ page.weight }}
      </span>
    {% else %}
      <span class="text-gray-400 italic">-</span>
    {% endif %}
  </li>

  <li class="p-4">
    <span class="font-bold block mb-1">Packaging/Kemasan:</span>
    {% if page.packaging %}
      <span class="text-gray-700">
        {{ page.packaging }}
      </span>
    {% else %}
      <span class="text-gray-400 italic">-</span>
    {% endif %}
  </li>

  <li class="p-4">
    <span class="font-bold block mb-1">Warna Kemasan:</span>
    {% if page.warna_kemasan %}
      <span class="text-gray-700">
        {{ page.warna_kemasan }}
      </span>
    {% else %}
      <span class="text-gray-400 italic">Random</span>
    {% endif %}
  </li>

  <li class="p-4">
    <span class="font-bold block mb-1">Kantong Plastik/Kresek:</span>
    {% if page.kresek %}
      <span class="text-gray-700">
        {{ page.kresek }}
      </span>
    {% else %}
      <span class="text-gray-400 italic">Random</span>
    {% endif %}
  </li>

  <li class="p-4">
    <span class="font-bold block mb-1">Segel Shrink:</span>
    {% if page.shrink_seal %}
      <span class="text-gray-700">
        {{ page.shrink_seal}}
      </span>
    {% else %}
      <span class="text-gray-400 italic">Tidak</span>
    {% endif %}
  </li>

  <li class="p-4">
    <span class="font-bold block mb-1">Hangtag:</span>
    {% if page.hangtag %}
      <span class="text-gray-700">
        {{ page.hangtag }}
      </span>
    {% else %}
      <span class="text-gray-400 italic">Tidak</span>
    {% endif %}
  </li>

  <li class="p-4">
    <span class="font-bold block mb-1">Pita:</span>
    {% if page.pita %}
      <span class="text-gray-700">
        {{ page.pita }}
      </span>
    {% else %}
      <span class="text-gray-400 italic">Tidak</span>
    {% endif %}
  </li>

  <li class="p-4">
    <span class="font-bold block mb-1">Paper Doily:</span>
    {% if page.paper_doily %}
      <span class="text-gray-700">
        {{ page.paper_doily }}
      </span>
    {% else %}
      <span class="text-gray-400 italic">Tidak</span>
    {% endif %}
  </li>

  <li class="p-4">
    <span class="font-bold block mb-1">Silica Gel:</span>
    {% if page.silica_gel %}
      <span class="text-gray-700">
        {{ page.silica_gel }}
      </span>
    {% else %}
      <span class="text-gray-400 italic">Tidak</span>
    {% endif %}
  </li>

  <li class="p-4">
    <span class="font-bold block mb-1">Merk/Brand:</span>
    {% if page.brand %}
      <span class="text-gray-700">
        {{ page.brand | default: "Dapoer Ela 85" }}
      </span>
    {% else %}
      <span class="text-gray-400 italic">Dapoer Ela 85</span>
    {% endif %}
  </li>
        
  <li class="p-4">
    <span class="font-bold block mb-1">Sertifikasi PIRT:</span>
    {% if page.pirt_id %}
      <span class="text-gray-700">
        {{ page.pirt_id }}
      </span>
    {% else %}
      <span class="text-gray-400 italic">Tidak ada</span>
    {% endif %}
  </li>
        
  <li class="p-4">
    <span class="font-bold block mb-1">Sertifikasi Halal:</span>
    {% if page.halal_id %}
      <span class="text-gray-700">
        {{ page.halal_id | default: "ID36410025276910825" }}
      </span>
    {% else %}
      <span class="text-gray-400 italic">ID36410025276910825</span>
    {% endif %}
  </li>

  <li class="p-4">
    <span class="font-bold block mb-1">Sertifikasi Merk:</span>
    {% if page.merk_id %}
      <span class="text-gray-700">
        {{ page.merk_id | default: "DID2024133737" }}
      </span>
    {% else %}
      <span class="text-gray-400 italic">DID2024133737</span>
    {% endif %}
  </li>

  <li class="p-4">
    <span class="font-bold block mb-1">NIB:</span>
    {% if page.nib_id %}
      <span class="text-gray-700">
        {{ page.nib_id | default: "1005240054558" }}
      </span>
    {% else %}
      <span class="text-gray-400 italic">1005240054558</span>
    {% endif %}
  </li>
        
</ul>
                        
                    <div class="collapse collapse-plus rounded-none">
                        <input type="radio" name="details-accordion" checked="checked" /> 
                        <div class="collapse-title text-sm uppercase tracking-widest font-bold">Cara Pesan</div>
                        <div class="collapse-content text-sm opacity-60">
                            <p>Hubungi via Whatsapp</p>
                        </div>
                    </div>
                    <div class="collapse collapse-plus rounded-none border-t border-base-content/10">
                        <input type="radio" name="details-accordion" /> 
                        <div class="collapse-title text-sm uppercase tracking-widest font-bold">Shipping Info</div>
                        <div class="collapse-content text-sm opacity-60">
                            <p>Same-day delivery available for Jakarta area. Standard shipping 2-3 days for Java Island.</p>
                        </div>
                    </div>
                </div>
            </div>
         
       </div>
